body{
    border:solid;
    color: blue;
    padding: 5px;
    margin: 30px;

}
.img1{
    display: flex;
    margin-top: 20px;
    text-align: end;
     
}
.button1{
    background-color: blue;
    border: solid blue;
    text-align: center;
    margin: 0%auto;
    display: flex;
    color: white;
}
.head1{
    color: greenyellow;
    margin: 0%auto;
    text-align: center;
    
}
.par1{
    margin: 0%auto;
    text-align: center;
    font-size: smaller;
}
.Alice1{
    text-align: center;
}
 li{
    display: inline;
    margin-left: 100px; 
    list-style: none;
}

.moraa{
    display: flex;
    margin-left: 50%;
    justify-content: right;
    gap: 2%;
}
.moraa1{
    padding-right: 20px;
    border: 4px solid;
    background-color: gold;
    font-size: smaller;
}
.moraa2{
    padding-right: 20px;
    border: 4px solid;
    background-color: lightgreen;
    font-size: smaller;
}
.moraa3{
    padding-right: 20px;
    border: 4px solid;
    background-color: aqua;
    font-size: smaller;
}
.button2{
    border: solid;
    background-color: blue;
    color: white;
}
.AliceMoraa{
    display: flex;
    margin-left: 70%;
    margin-bottom: 50px;
    gap: 4%;
    size: 30%;
}
.Alice2{
    font-weight: bolder;
    
}
.Alicia{
    border-radius: 5px;
    border-bottom: none;
}
.Dante{
    gap: 4%;
    margin: 50px;
}
.lisaM2{
    color: aqua;
    margin-bottom: 50px;
}
.lisaM3{
    color: purple;
}
.Lisam{
    color: brown;
}

